.produtos
{
    padding-top: 50px;
}

.mensagem
{
    padding-top: 20px;
    padding-bottom: 20px;
}

.tabela
{
    padding-top: 50px;
    padding-bottom: 50px;
}

.paginacao
{
    padding-top: 60px;
    padding-bottom: 60px;
}

footer
{
    padding-top: 60px;
}